<template>
  <v-app id="inspire">
    <v-app-bar app color="transparent" light>
      <h1> Библиотека </h1>
      <v-tabs right>
        <v-tab to="/">Главная</v-tab>
        <v-tab to="/admin">Админ-панель</v-tab>
      </v-tabs>
    </v-app-bar>

    <v-content>
      <router-view></router-view>
    </v-content>
  </v-app>
</template>

<script>
  export default {
    
  }

</script>
