<template>
<div>
	<!-- <div class="mx-auto">Список книг нашей библиотеки</div> -->
	<v-card 
		v-if="books"
		width="75vw"
		class="mx-auto"
		flat
		>
		<v-card-title>
			Список книг нашей библиотеки
		</v-card-title>

		<v-data-table
			color="#f4f4f4"
			:headers="headers"
			:items="books"
			light
			hide-default-footer
		>
            <template v-slot:item.actions="{ item }">
                <v-icon small class="mr-2" @click="deleteBook(item.id)">mdi-delete</v-icon>
            </template>

            <template v-slot:item.availability="{ item }">
                <v-btn :color="item.availability ? 'primary' : 'warning'" v-on:click="changeBookAvailability(item.id)">
                    {{ item.availability ? 'Доступна' : 'Выдана'}}
                </v-btn>
            </template>

        </v-data-table>
        <v-row class="d-flex justify-center">
            <v-col cols="5"> 
                <v-text-field placeholder="Название" v-model="new_title"></v-text-field> 
            </v-col>
            <v-col cols="5"> 
                <v-text-field placeholder="Автор" v-model="new_author"></v-text-field> 
            </v-col>
            <v-col cols="2"> 
                <v-btn color="confirm" @click="addBook"> Добавить</v-btn> 
            </v-col>
        </v-row>
	</v-card>
</div>
</template>

<script>
export default {
    data: () => ({
		books: [],
		headers: [
			{ text: '#', value: 'id',},
			{ text: 'Название', value: 'title' },
            { text: 'Автор', value: 'author' },
            { text: 'Доступность', value: 'availability' },
            { text: 'Действия', value: 'actions', sortable: false },
        ],
        new_title:  '',
        new_author: '',
    }),
    methods: {
		loadBookList(){
            this.$axios.get('/api/book/all/').then( res => {                
                this.books = res.data
            } )
        },
        addBook(){
            if(this.new_title && this.new_author){
                this.$axios.post('/api/book/add/', {'title' : this.new_title, 'author' : this.new_author} )
                this.new_title = ''
                this.new_author = ''
                this.loadBookList()
            }
        },
        deleteBook(id){
            this.$axios.get(`/api/book/delete/${id}/`)
            this.loadBookList()
        },
        changeBookAvailability(id){
            this.$axios.get(`/api/book/change_availabilty/${id}/`)
            this.loadBookList()
        },
    },
    mounted(){
        this.loadBookList()
    }
}
</script>
