<template>
<div>
	<!-- <div class="mx-auto">Список книг нашей библиотеки</div> -->
	<v-card 
		v-if="books"
		width="75vw"
		class="mx-auto"
		flat
		>
		<v-card-title>
			Список книг нашей библиотеки
		</v-card-title>
		<v-divider></v-divider>
		<v-data-table
			color="#f4f4f4"
			:headers="headers"
			:items="books"
			light
			hide-default-footer
		>
			<template v-slot:item.availability="{ item }">
				{{ item.availability ? 'Доступна' : 'Выдана'}}			
			</template>
		</v-data-table>
	</v-card>
</div>
</template>

<script>
  export default {
    data() {
      return {
		books: [],
		headers: [
			{ text: '#', value: 'id',},
			{ text: 'Название', value: 'title' },
			{ text: 'Автор', value: 'author' },
			{ text: 'Доступность', value: 'availability' },
		],
      }
    },
    methods: {
		async getBooks() {
        	await this.$axios.get('/api/book/all/').then(res => {
				this.books = res.data
			
			})
			console.log(this.books)
		},
		async deleteItem(id){
			await this.$axios.get(`/api/book/delete/${id}`)
			this.getBooks()
		}
    },
    mounted() {
      this.getBooks()
    }
  }

</script>
